$primary: #213F7D;
$secondary: #39CDCC;
$teal: #39CDCC;
$teal-hover: #2baea5;
$bg-light: #FBFBFB;
$white: #FFFFFF;
$border-color: rgba(33, 63, 125, 0.2);
$font-primary: 'Work Sans', sans-serif;
$topbar-height: 100px;
$sidebar-width: 283px;
